<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.garethevans.mediaplayer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Media Player"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <service android:name="co.garethevans.mediaplayer.MusicService" />
    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK" />



</manifest>